<div class="hero">
  <div class="text-container">
    <div class="wrap">
      <h1>We treat your eyes with care</h1>
      <a href="/">SEE THE COLLECTION
        <span>
          <svg class="arrow" viewBox="0 0 55 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.723694 8.5H54.2763" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M53.9145 8.49998C51.2609 8.26389 45.5921 6.37498 44.1447 0.708313" stroke="black" stroke-linecap="round"
      stroke-linejoin="round"/>
<path d="M53.9145 8.5C51.2609 8.73609 45.5921 10.625 44.1447 16.2917" stroke="black" stroke-linecap="round"
      stroke-linejoin="round"/>
</svg>
        </span>
      </a>
    </div>
    <div class="img-wrapper">
      <img src="assets/images/10fa663ed172295b1d548b923f32887a.png" alt="">
    </div>
  </div>
</div>



