<nav class="nav">
  <div class="logo">yes.</div>
  <ul [ngClass]="toggle?'':'_activeUl'">
    <li>sun</li>
    <li>optical</li>
    <li>fit guide</li>
  </ul>
  <div class="burgir" (click)="toggle = !toggle">

    <svg class="gg" *ngIf="toggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.06 51.66"><title>burgir2Asset 4</title>
      <rect width="75.06" height="6.06"/>
      <rect y="24.3" width="75.06" height="6.06"/>
      <rect y="48.6" width="75.06" height="6.06"/>
    </svg>

    <svg *ngIf="!toggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.24 55.24"><title>x2Asset 3</title>
      <rect x="-9.91" y="26.09" width="75.06" height="3.06" transform="translate(27.62 -11.44) rotate(45)"/>
      <rect x="-9.91" y="26.09" width="75.06" height="3.06" transform="translate(66.68 27.62) rotate(135)"/>
    </svg>

  </div>

  <div class="customer">
    Customer care
  </div>
</nav>
<!--_activeLi-->
