.nav {
  width: 100%;
  height: 5.694vw;
  border-top: black 0.208vw solid;
  border-bottom: 0.208vw black solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.722vw;
  z-index: 8;
  background: white;
  @media(max-width: 433px){
      height: 16.694vw;
  }
  .logo {
    font-size: 4.792vw;
    transform: translateY(-0.7vw);
    @media(max-width: 433px){
        font-size: 12.792vw;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @media(max-width: 433px){
      //  flex-direction: column;
      //position: absolute;
      //top: 0;
      //left: 0;
      display: none;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: black solid 0.208vw;
      border-right: black solid 0.208vw;
      text-transform: capitalize;
      list-style: none;
      font-size: 1.528vw;
      width: 12.708vw;
      height: 102%;
      cursor: pointer;
      &:hover{
        background: #FFC0CB;
      }

      &:first-child {
        border-right: unset;
      }

      &:nth-child(3) {
        border-left: unset;
      }
    }
  }

  .customer {
    font-size: 1.528vw;
    cursor: pointer;
    @media(max-width: 433px){
        font-size: 5.528vw;
    }
  }
}
