.who-are-we {
  width: 100%;
  padding: 9.653vw;
  height: 34.028vw;
  display: flex;
  align-items: center;
  margin-top: 20vw;
  margin-bottom: 10.417vw;
  @media(max-width: 433px) {
    padding: 3.653vw;
    height: 248.028vw;
    flex-direction: column;
  }

  .text-block {
    width: 50%;
    @media(max-width: 433px) {
      width: 100%;
    }

    h1 {
      margin-bottom: 2.083vw;
      font-size: 4.861vw;
      @media(max-width: 433px) {
        font-size: 14.861vw;
      }
    }

    p {
      margin: 1.042vw 0;
      line-height: 2.083vw;
      width: 32.639vw;
      font-size: 1.389vw;
      @media(max-width: 433px) {
        margin: 10.042vw 0;
        line-height: 7.083vw;
        width: 87.639vw;
        font-size: 4.389vw;
      }
    }
  }
}

.image-block {
  width: 50%;
  @media(max-width: 433px) {
      width: 100%;
  }
}

.image-container {
  width: 29.167vw;
  height: 34.028vw;
  @media(max-width: 433px) {
    width: 100%;
    height: 109.028vw;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
