<app-navbar></app-navbar><!--навбар-->
<app-hero></app-hero><!--hero пока пустой-->
<app-banner-block [io]="bannerArr" class="banner-wrap"></app-banner-block><!--баннер мужчина женщина-->
<app-title [stockTitl]="titlesStock"></app-title><!--тайтл с кнопкой-->
<app-card [cards]="cardStock"></app-card><!--карточки с очками-->
<app-mitchel></app-mitchel>
<app-title [stockTitl]="titlesBestsellers"></app-title><!--тайтл с кнопкой-->
<app-card [cards]="cardBestsellers"></app-card><!--карточки с очками-->
<app-banner-block [io]="bannerArrTwo" class="banner-wrap"></app-banner-block><!--баннер мужчина женщина-->
<app-title [stockTitl]="titlesBrands"></app-title><!--тайтл с кнопкой-->
<app-words></app-words>
<app-who-are></app-who-are><!--пред-футер-->
<app-footer></app-footer>










<!--<app-testanim></app-testanim>-->
