/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}
app-navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
}


